.cs__table {
  height: 80vh;

  .MuiDataGrid-main,
  .MuiTablePagination-root,
  .MuiSvgIcon-root,
  .MuiSelect-icon {
    color: #ffffff;
  }

  .MuiDataGrid-colCellTitleContainer .MuiDataGrid-colCellTitle {
    font-weight: bold;
  }
}
